:root {
  --landingheight: 580px;
  --logowidth: .36;
  --mobilesidepadding: 4px;
  --chemcyan: #5ff;
  --chempurple: #c586f2;
}

body{
  font-family: "Computer Modern Serif", serif
  overflow-y: scroll;
  background-color:#000000;
  color:#ffffff;
  margin:0;
  padding:0;
  overflow-y: scroll;
}

h2{
  color:var(--chemcyan);
}

.landingtext{
  color:#fff;
}



.landing{
  height:100vh;
  width:inherit;
  background-color: #000;
  position: relative;

  background-size:cover;

  background-blend-mode: screen;

  display: flex;
  flex-direction:row;

}

.landinglogodiv{
  width:calc(var(--logowidth)*160vh);
  height:inherit;
  display:flex;
  flex-direction:column;
  justify-content: center;
}
.landinglogodivdiv{
  width:inherit;
  height:var(--landingheight);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  padding-top: 80px;
}

.landinglogo{
  width:calc(var(--logowidth) * 160vh * 28/36);
  height:calc(var(--logowidth) * 160vh * 28/36);
  object-fit: cover;
}

.landingmiddle{
  width:20px;
  height:inherit;
}

.landingtitlediv{
  width:auto;
  height:inherit;
  display:flex;
  flex-direction:column;
  justify-content: start;
}
.landingtitledivdiv{
  width:inherit;
  height:auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  padding-top: 72px;
}
.landingtitledivdivdiv{
  width:inherit;
  height:auto;
  display:flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
  padding-left: 0px;
  padding-right: var(--mobilesidepadding);
}

.landingtitle{
  font-size: 36px;
  margin:0;
}
.landingsubtitle{
  font-size: 36px;
  margin:0;
  color:var(--chemcyan);
}
.landingtext{
  font-size: 20px;
  margin:0;
  color:#fff;
  width: min(100vh,60vw);
  height:auto;
  padding-top: 5px;
}

h2{
  font-size:36px;
}

@media (min-height:480px){

  .landing{
    height:99vh;
    width:100%;
    background-color: #000;
    position: relative;

    background-size:cover;
    background-blend-mode: screen;
    display: flex;
    flex-direction:column;
  }

  .landinglogodiv{
    width:auto;
    height:calc(var(--logowidth) * (min(200vw,136vh)) );
    display:flex;
    flex-direction:row;
    justify-content: center;
  }
  .landinglogodivdiv{
    width:auto;
    height:calc(var(--logowidth)*(min(200vw,136vh)) -50px);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 50px;
  }

  .landinglogo{
    width:calc(var(--logowidth) * (min(200vw,136vh)) * 28/36);
    height:calc(var(--logowidth) * (min(200vw,136vh)) * 28/36);
    object-fit: cover;
  }

  .landingmiddle{
    height:20px;
    width:inherit;
  }

  .landingtitlediv{
    width:inherit;
    height:auto;
    display:flex;
    flex-direction:column;
    justify-content: center;
  }
  .landingtitledivdiv{
    width:inherit;
    height:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    padding-top: 10px;
  }
  .landingtitledivdivdiv{
    width:auto;
    height:auto;
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    padding-left: var(--mobilesidepadding);
    padding-right: var(--mobilesidepadding);
  }

  .landingtitle{
    font-size: 48px;
    margin:0;
  }
  .landingsubtitle{
    font-size: 48px;
    margin:0;
    color:var(--chemcyan);
  }
  .landingtext{
    font-size: 24px;
    margin:0;
    color:#fff;
    width: min(400px,90vw);
    height:auto;
    padding-top: 10px;
  }

  h2{
    font-size:36px;
  }
}

@media (max-width:360px) {
  .landingtitle{
    font-size: 36px;
    margin:0;
  }
  .landingsubtitle{
    font-size: 36px;
    margin:0;
    color:var(--chemcyan);
  }
}

@media (min-width:500px) and (min-height: 480px) {
  .landinglogodiv{
    width:inherit;
    height:calc(var(--logowidth)* 2.00 * min(500px, 70vh));
    display:flex;
    flex-direction:row;
    justify-content: center;
  }
  .landinglogodivdiv{
    width:inherit;
    height:calc(var(--logowidth)*2.00 * min(500px, 70vh) - 50px);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 50px;
  }

  .landinglogo{
    width:calc(var(--logowidth) * 2.00 * min(500px, 70vh) * 28/36);
    height:calc(var(--logowidth) * 2.00 * min(500px, 70vh) * 28/36);
    object-fit: cover;
  }
}

@media (min-width:720px) {
  .landing{
    height:100vh;
    width:inherit;
    background-color: #000;
    position: relative;

    background-size:cover;

    background-blend-mode: screen;

    display: flex;
    flex-direction:row;

  }

  .landinglogodiv{
    width:calc(var(--logowidth)*(min(100vw,200vh)));
    height:inherit;
    display:flex;
    flex-direction:column;
    justify-content: center;
  }
  .landinglogodivdiv{
    width:inherit;
    height:var(--landingheight);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    padding-top: min(120px,27vh);
  }

  .landinglogo{
    width:calc(var(--logowidth) * (min(100vw,200vh)) * 28/36);
    height:calc(var(--logowidth) * (min(100vw,200vh)) * 28/36);
    object-fit: cover;
  }

  .landingmiddle{
    width:20px;
    height:inherit;
  }

  .landingtitlediv{
    width:auto;
    height:inherit;
    display:flex;
    flex-direction:column;
    justify-content: center;
  }
  .landingtitledivdiv{
    width:inherit;
    height:var(--landingheight);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    padding-top: 90px;
  }
  .landingtitledivdivdiv{
    width:inherit;
    height:360px;
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    padding-left: 0px;
    padding-right: 0px;
  }

  .landingtitle{
    font-size: 60px;
    margin:0;
  }
  .landingsubtitle{
    font-size: 60px;
    margin:0;
    color:var(--chemcyan);
  }

  .landingtext{
    font-size: 28px;
    margin:0;
    color:#fff;
    width: 460px;
    height:auto;
    padding-top: 10px;
  }

  h2{
    font-size:48px;
  }

}

@media (min-width:1280px) {
  .landing{
    height:100vh;
    width:inherit;
    background-color: #000;
    position: relative;
    background-size:cover;
    background-blend-mode: screen;

    display: flex;
    flex-direction:row;
  }

  .landinglogodiv{
    width:calc(var(--logowidth) * (min(1280px,200vh)));
    height:inherit;
    display:flex;
    flex-direction:column;
    justify-content: center;
  }
  .landinglogodivdiv{
    width:inherit;
    height:var(--landingheight);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    padding-top: 120px;
  }

  .landinglogo{
    width:calc(var(--logowidth) * (min(1280px,200vh)) * 28/36);
    height:calc(var(--logowidth) * (min(1280px,200vh)) * 28/36);
    object-fit: cover;
  }

  .landingmiddle{
    width:20px;
  }

  .landingtitlediv{
    width:auto;
    height:inherit;
    display:flex;
    flex-direction:column;
    justify-content: center;
  }
  .landingtitledivdiv{
    width:inherit;
    height:var(--landingheight);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    padding-top: 90px;
  }
  .landingtitledivdivdiv{
    width:inherit;
    height:360px;
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
  }

  .landingtitle{
    font-size: 90px;
    margin:0;
  }
  .landingsubtitle{
    font-size: 90px;
    margin:0;
    color:var(--chemcyan);
  }
  .landingtext{
    font-size: 32px;
    margin:0;
    color:#fff;
    width: 640px;
    height:auto;
    padding-top: 10px;
  }

  h2{
    font-size:60px;
  }

}

@media (min-width:1280px) and (max-height:600px) {
  .landingtitledivdivdiv{
    width:inherit;
    height:360px;
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
  }

  .landingtitle{
    font-size: 60px;
    margin:0;
  }
  .landingsubtitle{
    font-size: 60px;
    margin:0;
    color:var(--chemcyan);
  }
  .landingtext{
    font-size: 28px;
    margin:0;
    color:#fff;
    width: 460px;
    height:auto;
    padding-top: 10px;
  }

  h2{
    font-size:36px;
  }

}


/*todo: delete the old code*/
.landing {
  background-color:#000;
  background: radial-gradient(circle, rgb(100, 200, 300) 0%);
  transition: none;
  will-change: background;
  background-blend-mode: screen;
}



/*
@media (prefers-reduced-motion: reduce) {
  .landing {
    animation: none;
  }
}
*/
